/* css styles */

/* Resize navbar logo */
.navbar-brand img {
  min-height: 60px !important;    /* adjust as needed */
  width: auto !important;     /* preserves aspect ratio */
}

/* add tools-tabset css for the setup instructions */ 

.panel-tabset[data-group="tools-tabset"] .choose-your-tool {
  max-width: 90px;
  margin-right: 25px;
  margin-top: 30px;
  font-weight: 600;
  font-size: 1.0rem;
  text-align: left;
  vertical-align: center;
}

.panel-tabset[data-group="tools-tabset"] .tab-content {
  border: none;
  padding-left: 5px;
}

.panel-tabset[data-group="tools-tabset"] .nav-tabs {
  border-bottom: none;
}

.panel-tabset[data-group="tools-tabset"] .nav-tabs .nav-link {
  text-align: center;
  margin-right: 20px;
  margin-top: 10px;
  color: inherit;
  width: 120px;
  height: 120px;
  font-size: 0.8em;
}


/* Inactive tabs */
.panel-tabset[data-group="tools-tabset"] .nav-tabs .nav-link {
  border: 1.5px solid black;   /* Thinner border */
  border-radius: 10px;
}

/* Active tab */
.panel-tabset[data-group="tools-tabset"] .nav-tabs .nav-link.active,
.panel-tabset[data-group="tools-tabset"] .nav-tabs .nav-item.show .nav-link {
  border: 3px solid black;   /* Thicker border for active */
}


.panel-tabset[data-group="tools-tabset"] .nav-tabs .nav-link:hover {
   border-color: black;
   border-width: 5px;
} 

.panel-tabset[data-group="tools-tabset"] .nav-tabs .nav-link.active, 
.panel-tabset[data-group="tools-tabset"] .nav-tabs .nav-item.show .nav-link {
  border-color: black;
  border-width: 3px;
}

.panel-tabset[data-group="tools-tabset"] .nav-tabs .nav-link img {
  height: 80%;
  display: block;
  margin-bottom: 2px;
}
